<link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>

<div id="available-games-grid" class="tiles-grid tiles-group size-3" data-group-title="General">
    @* tiles will be created here *@
</div>

<button id="update-btn" onclick="updatelist()">update</button>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    let connection = new signalR.HubConnectionBuilder().withUrl("/gamehub").build();
    let myConnectionId;
    let opponentConnectionId;

    connection.start().catch(err=>{
        alert("couldnt connect");
    })

    let updatelist = function() {
        let games = []

        connection.invoke("GetAllGames").then( function (data) {
            console.log("data: " + data);
            games = data;

            let grid = document.getElementById("available-games-grid");

            $("#available-games-grid").empty()

            games.forEach( (game) => {
                let tile = document.createElement("button");
                let text = document.createTextNode(game);
                tile.appendChild(text);
                tile.setAttribute("class", "bg-green");
                tile.setAttribute("data-role", "tile");
                tile.setAttribute("data-group-title", "General");
                grid.appendChild(tile);
            })
        });
    }
</script>